<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Display playlist</title>
<link rel="stylesheet" type="text/css" href=displayPlaylist.css>

</head>
<body>
	<div class="navbar">
		<div class="home">
			<a href="adminHome">Go to Home Page</a>
		</div>
		<div class="logout">
			<a href="login">Logout</a>
		</div>
	</div>
     <table border class="styled-table">
     <thead>
     <tr>
     <th>Name</th>
     <th>Songs</th>
     
     </tr>
     
     </thead>
     <tbody>
          <tr th:each="plist :${allPlaylists}">
     		<td th:text="${plist.name}"></td>
		    <td>
		        <ul>
		            <li th:each="song:${plist.songs}" >
		            <div class="song_name">
		            	<span th:text="${song.name}" ></span>
		            </div>
		            <div class="songs">
			            <audio controls>
			        		<source th:src="${song.link}" type="audio/mpeg">
			    		</audio>
		    		</div>
		            </li>
		        
		        </ul>
		    
		    </td>
     
     </tr>
     
     </tbody>
     
     
     </table>
</body>
</html>