<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href=displaySongs.css>
</head>
<body>
	<div class="navbar">
		<div class="home">
			<a href="adminHome">Go to Home Page</a>
		</div>
		<div class="logout">
			<a href="login">Logout</a>
		</div>
	</div>
	<table  class="styled-table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Artist</th>
				<th>Genre</th>
				<th>Play</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="song:${songs}">
				<td th:text="${song.name}"></td>
				<td th:text="${song.artist}"></td>
				<td th:text="${song.genre}"></td>
				<td >
				<div class="songs">
					<audio controls >
						<source th:src="${song.link}" type="audio/mpeg">
					</audio>
				</div>
				</td>
			</tr>
		</tbody>
	
	
	</table>

</body>
</html>