<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div class="container">
	<div class="h1">
		<h2>Without music, life would be a mistake...</h2>
	</div>
	<div class="links">
		<div class="login">
			<a href="login" >LOGIN</a>
		</div>
		<br>
		<div class="register">
			<a href="registration" >REGISTER</a>
		</div>
	</div>
	</div>
	<div class="image1"></div>
	<div class="image2"></div>
</body>
</html>