<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href=newSong.css>
</head>
<body>
<img alt="music" src="https://wallpapercave.com/wp/wp3562227.jpg">
<div class="body">
	<div class="navbar">
		<div class="home">
			<a href="adminHome">Go to Home Page</a>
		</div>
	</div>
	<div class="container">
		<form action="addSong" method="post">
			<label>Song Name:</label>
			<input type="text" name="name" placeholder="Enter Song Name">
			<br><br>
			<label>Song Artist:</label>
			<input type="text" name="artist" placeholder="Enter Artist Name">
			<br><br>
			<label>Song Genre:</label>
			<input type="text" name="genre" placeholder="Enter Song Genre">
			<br><br>
			<label>Song Link:</label>
			<input type="text" name="link" placeholder="Enter Song Link">
			<br><br>
			<input type="submit" value="Add Song">
			
		
		</form>
	</div>
	</div>
</body>
</html>